ailment==9.0.10651
angr==9.0.10651
archinfo==9.0.10651
bitarray==3.8.0
bitstring==4.3.1
cachetools==6.2.6
capstone==5.0.3
cffi==2.0.0
claripy==9.0.10651
cle==9.0.10651
CppHeaderParser==2.7.4
decorator==5.2.1
dpkt==1.9.8
future==1.0.0
GitPython==3.1.46
gitdb==4.0.12
itanium-demangler==1.1
mulpyplexer==0.9
nampa==0.1.1
networkx==3.2.1
pefile==2024.8.26
plumbum==1.10.0
ply==3.11
progressbar2==4.5.0
protobuf==3.20.3
psutil==7.2.2
pycparser==2.23
pyelftools==0.32
pysmt==0.9.7.dev337
python-utils==3.9.1
pyvex==9.0.10651
rpyc==6.0.2
smmap==5.0.2
sortedcontainers==2.4.0
typing-extensions==4.15.0
unicorn==1.0.2rc4
z3-solver==4.15.4.0

